.ContainerElegirnos{
    display: flex;
    flex-direction: column;
    background-color: #222222;
    text-align: center;
    padding-bottom: 2rem;
    box-shadow: 0 0px 50px 10px rgba(0, 0, 0, 0.548);
    min-height: 50vh;
   
    .ElegirnosText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #TextElegirnos{
            font-size: 1.5rem;
            color: white;
            font-family: $font;
            margin: 2rem;
            letter-spacing: 0.5px;
            font-weight: 300;
            text-shadow:0 0px 5px rgb(0, 0, 0) ;
        }
    }
}

span{
    color: #007DFD;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .ContainerElegirnos{
        
        .ElegirnosText{
            #TextElegirnos{
                font-size: 1.8rem;
                color: white;
                font-family: $font;
                letter-spacing: 0.5px;
                padding: 2rem;
            }
        }
    }
    
   
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
    
    .ContainerElegirnos{
        min-height: 60vh;
        
        .ElegirnosText{
            #TextElegirnos{
                font-size: 2rem;
                color: white;
                font-family: $font;
                letter-spacing: 1px;
                
            }
        }
    }

    
}

@media only screen and (min-width: 1400px) {

    .ContainerElegirnos{
        
        min-height: 90vh;

        .ElegirnosText{
            height: 70vh;
            #TextElegirnos{
                font-size: 3rem;
                color: white;
                font-family: $font;
                padding: 3rem 10rem 3rem 10rem;
                letter-spacing: 1.5px;
                font-weight: 300;
                
            }
        }
        
      
        
    }
    

}
  
