.FooterContainer{
    background-image: url(../img/fondo.jpg);
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 0px 40px 1px rgba(0, 0, 0, 0.548);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font;

    .branding{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .brand{
            padding: 2rem 0rem 2rem 0rem;
            width: 150px;
            height: auto;
        }
    }

    .ContactInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .ContainerContact{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            .social{
                width: 25px;
                height: 25px;
            }

        }    

        .Contact{
            text-shadow: 0 0px 4px rgba(150, 150, 150, 0.678);

        }

        .SocialMedia{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            background-color: rgba(0, 0, 0, 0.5); 
            backdrop-filter: blur(5px);
            color: white;
            padding: 0.5rem;
            border-radius: 40px;
            transition: 1s;
            
            
            a {
                color: white;
                text-decoration: none;
                text-shadow: 0 0px 4px rgba(0, 0, 0, 0.842);
                transition: 0.5s;
            }
           
        }

        .SocialMedia:hover{
            background-color: black;
        }
    }

    .FooterNav ul{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem 0rem 2rem 0rem;
        li a{
            text-decoration: none;
            color: white;
            transition: 0.5s;
            text-shadow: 0 0px 4px rgba(0, 0, 0, 0.842);
        }

        li a:hover{
            color: #007DFD;;
        }
    }
    
    .Copyright{
        padding: 0rem 0rem 2rem 0rem;
        text-align: center;
        color: white;
        text-shadow: 0 0px 4px rgba(255, 255, 255, 0.507);
    }
}


@media only screen and (min-width: 1000px) and (max-width: 1599px)  {

    .FooterContainer{
        background-position: bottom;

        .ContactInfo{
            padding-top: 2rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 6rem;

            .branding{
                .brand{
                    width: 200px;
                    height: auto;
                }
            }

            .ContainerInfoContact{
               .ContainerContact{
                justify-content: start;
               }
            }
        }

        .Copyright{
            padding-top: 4rem;
        }

    }


}

@media only screen and (min-width: 1600px) {
    .FooterContainer{
        background-position: bottom;

        .ContactInfo{
            padding-top: 2rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 6rem;

            .branding{
                .brand{
                    width: 250px;
                    height: auto;
                }
            }

            .ContainerInfoContact{
                color: wheat;
               .ContainerContact{
                justify-content: start;
               }
            }
        }

        .Copyright{
            padding-top: 4rem;
        }

    }
}