.ContainerVistaPrincipal{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(90deg, rgba(0,0,0,0.4738270308123249) 0%, rgba(0,0,0,0.4374124649859944) 0%, rgba(0,0,0,0) 51%, rgba(0,0,0,0.2861519607843137) 100%),url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.548);
}

.ContainerAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    .CloudContainer {
        margin-top: 50px;
        background-image: url(../img/nube-p.png);
        width: 300px;
        height: auto;
        max-width: 400px;
        opacity: 0.3;
        filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.753));
        background-size: cover;
    }

    .blowscontainer {
        display: flex;
        justify-content: space-around;
        width: 300px;
        max-width: 350px;
        margin-bottom: 20px;

        .blow {
            writing-mode: vertical-rl;
            font-size: 1.3rem;
            animation: fall 2s ease-in-out infinite;
            animation-delay: calc(0.4s * var(--index));
            opacity: 0;
            text-shadow: 0 0px 2px rgba(0, 0, 0, 0.247);
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-weight: 400;
            cursor: default;
        }
    }

    .name {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 3.4rem;
        margin-top: 100px;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);


    }

    .description {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
        margin-top: 5vh;
    }

    .ScrollButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border: 1px solid rgb(104, 104, 104);
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
        background-color: rgba(0, 0, 0, 0.1);
        transition: 0.4s;
        margin-top: 20px;

        .ArrowDown {
            width: 32px;
            height: 32px;
            animation: moveDown 2s ease infinite;
            filter: brightness(50%);
            background-image: url(../img/flecha-hacia-abajo.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }
    }

    .ScrollButton:hover {
        width: 42px;
        height: 42px;
        animation: moveDown 2s ease infinite;
        filter: brightness(50%);
        background-color: rgb(255, 255, 255);
        background-position: center;
        background-repeat: no-repeat;

    }

    span {
        color: #007DFD;
    }
}



.MenuHamburguesa {
    position: fixed;
    top: 0;
    right: -1024px;
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    z-index: 9999;
    border-top-left-radius: 10px;
    transition: right 0.5s ease;
    box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.5);

    .cruz {
        height: 50px;
        width: 50px;
        margin-right: 1rem;
        margin-left: 15rem;
        margin-top: 1rem;
        cursor: pointer;
        transition: 0.2s;
        border-radius: 10px;
    }

    .cruz:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }

    ul {
        list-style-type: none;

        li {
            margin: 2rem 2rem 0rem 2rem;

            a {
                text-decoration: none;
                color: white;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.5rem;
                transition: color 0.3s ease;
                text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
            }

            a:hover {
                color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}

.show {
    right: 0;
}

.moveLeft {
    transform: translateX(-300px);
}




.ContainerNavbar {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: transparent;

    .MenuDesktop {
        display: none;
    }

    .MenuMobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 50px;
        width: 50px;
        margin-right: 1rem;
        margin-left: 1rem;
        transition: transform 0.5s ease, background-color 0.2s ease;
        border-radius: 10px;
        cursor: pointer;

        .line {
            height: 2px;
            width: 60%;
            background-color: white;
            border-radius: 10px;
        }
    }

    .MenuMobile:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }
}



@keyframes moveDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(5px); 
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fall {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(100px);
    }
  }



  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    .ContainerAbout {
        .CloudContainer {
            margin-top: 130px;
        }

        .blowscontainer {
            .blow {
                font-size: 2vw;
            }
        }

    }

    .ContainerNavbar {
        justify-content: center;
        position: fixed;
        z-index: 1000;

        .MenuDesktop {
            display: block;
            width: 100%;

            ul {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                list-style-type: none;

                li {
                    a{
                        text-decoration: none;
                        color: black;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 1.2rem;
                        padding-bottom: 5px;
                        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                        border-bottom: 1px solid transparent;
                        transition: border-bottom 0.5s ease;
                        text-transform: lowercase;
                    }
                    a:hover{
                        color: #007DFD;
                        text-shadow: 0 2px 5px rgba(0, 0, 255, 0.5);
                        transition: 300ms;
                    }
                }
            }

        }

        .MenuMobile {
            display: none;
        }



    }

    .notscrolled{
        background-color: transparent;
        transition: 0.3s;
        .MenuDesktop{
            ul{
                li{
                    a{
                        color: black;
                    }
                }
            }
        }
    }

    .scrolled{
        background-color: rgb(30,30,30);
        transition: 0.3s;
        .MenuDesktop{
            ul{
                li{
                    a{
                        color: white;
                        text-shadow: none;
                    }
                }
            }
        }
    }

}

  @media only screen and (min-width: 1400px){
    .ContainerAbout {

        .name{
            font-size: 4rem;
        }

        .CloudContainer {
            margin-top: 130px;
            width: 400px;
        }

        .blowscontainer {
            .blow {
                width: 400px;
                font-size: 1.5rem;
            }
        }
    }

    .ContainerNavbar {
        justify-content: center;
        position: fixed;
        z-index: 1000;
        .MenuDesktop {
            display: block;
            width: 100%;
        
            ul {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                list-style-type: none;
        
                li {
                    position: relative; 
        
                    a {
                        text-decoration: none;
                        color: black;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 1.2rem;
                        padding-bottom: 5px;
                        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                        transition: color 0.3s ease, text-shadow 0.3s ease; 
                        text-transform: lowercase;
        
                        &::after { 
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            bottom: -7px;
                            left: 0;
                            background-color: transparent;
                            transform: scaleX(0);
                            transition: all 0.3s ease-in-out;
                        }
        
                        &:hover {
                            color: #007DFD;
                            text-shadow: 0 2px 5px rgba(0, 0, 255, 0.5);
        
                            &::after { 
                                background-color: #007DFD;
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }
        }
        

        .MenuMobile {
            display: none;
        }



    }

    .scrolled{
        background-color: rgb(30,30,30);
        transition: 0.3s;
        .MenuDesktop{
            ul{
                li{
                    a{
                        color: white;
                        text-shadow: none;
                    }
                }
            }
        }
    }

    .notscrolled{
        background-color: transparent;
        transition: 0.3s;
        .MenuDesktop{
            ul{
                li{
                    a{
                        color: black;
                    }
                }
            }
        }
    }
}